main {
  padding: 30px 0;
}

#botao {
  background-color: rgb(76, 146, 19);
  margin-top: 40px;
  color: #FFFFFF;
  transition: .3s;
  border: 2px solid rgb(76, 146, 19);
}

#botao:hover {
  background-color: #FFFFFF;
  color: rgb(76, 146, 19);
}

.alert h3 {
  color: rgb(233, 5, 5);
  text-align: center;
}

.aviso i {
  color: rgb(233, 5, 5);
}

.selecione-moeda h3,
.selecione-moeda i {
  color: rgb(76, 146, 19);
}
