@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  color: #000000;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

main {
  padding: 30px;
}

li {
  list-style: none;
}

.title {
  height: 50px;
  background-color: #eceaea;
  padding-top: 8px;
  margin-bottom: 30px;
  border-radius: 4px;
}
